.whatsapp-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #25D366;
    color: white;
    padding: 20px 40px;
    border-radius: 50px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    position: fixed;
    bottom: 20px; /* Adjust the bottom distance as needed */
    right: 20px; /* Adjust the right distance as needed */
    z-index: 1000; /* Ensure it appears above other elements */
  }
  
  .whatsapp-button:hover {
    background-color: #128C7E;
  }
  
  .whatsapp-button span {
    margin-left: 10px;
  }
  